.order {
  background-color: #1c1c21;
  border-radius: 40px;
  margin-right: 8px;
  text-decoration: none;
  color: white;
}
.orderNumber {
  display: flex;
  justify-content: space-between;
}
.imagesPrice {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
.price {
  display: flex;
}
