.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  gap: 60px;
}

.readyNumber {
  color: #00cccc;
  display: inline-block;
}

.readyWorkBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px;
  gap: 36px;
}

.allTimeNumber,
.todayNumber {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.readyWrap {
  max-height: 290px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
