.section {
	display: flex;
	flex-direction: column;
}

.elements {
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-height: 620px;
}

.hoveredElements {
	composes: elements;
	opacity: 0.5;
}

.items {
	max-height: 440px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}