.section {
    display: flex;
    flex-direction: column;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items {
    max-height: 440px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
