.container {
  display: flex;
}

.linksArea {
  display: flex;
  min-width: 320px;
  margin-top: 120px;
}

.linksWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navLink {
  text-decoration: none;
}

.activeLink {
  text-decoration: none;
  color: white;
}

.logOutLink {
  cursor: pointer;
  text-decoration: none;
}

.ordersWrap {
  margin-top: 20px;
  width: 100%;
}
