.wrap {
    display: flex;
    flex-direction: column;
}

.tab {
    display: flex;
}

.ingredients {
    display: flex;
    max-height: 600px;
    overflow: auto;
    flex-direction: column;
    max-width: 600px;
}
