.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	max-width: 1320px;
	margin: 0 auto;
}

.nav {
	display: flex;
}

.logo {
	display: flex;
	justify-content: center;
}

.link {
	display: flex;
	text-decoration: none;
}

.activeLink span {
	color: white !important;
}

.profile {
	display: flex;
	justify-content: flex-end;
	composes: link;
}
